.search-form {
  padding-bottom: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid;
}

.search-form__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-form__selectors-wrapper {
  display: flex;
}

.search-form__select-container {
  display: flex;
}

@media screen and (max-width: 700px) {
  .search-form {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}


@media screen and (max-width: 550px) {
  .search-form__selectors-wrapper {
    flex-direction: column;
  }
}
