@keyframes ldio-4wazwd3cwpc {
  0% {
    transform: translate(6px, 40px) scale(0);
  }
  25% {
    transform: translate(6px, 40px) scale(0);
  }
  50% {
    transform: translate(6px, 40px) scale(1);
  }
  75% {
    transform: translate(40px, 40px) scale(1);
  }
  100% {
    transform: translate(74px, 40px) scale(1);
  }
}
@keyframes ldio-4wazwd3cwpc-r {
  0% {
    transform: translate(74px, 40px) scale(1);
  }
  100% {
    transform: translate(74px, 40px) scale(0);
  }
}
@keyframes ldio-4wazwd3cwpc-c {
  0% {
    background: #514134;
  }
  25% {
    background: #dbae1d;
  }
  50% {
    background: #d28d4f;
  }
  75% {
    background: #e35839;
  }
  100% {
    background: #514134;
  }
}
.ldio-4wazwd3cwpc div {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(40px, 40px) scale(1);
  background: #514134;
  animation: ldio-4wazwd3cwpc 2s infinite cubic-bezier(0, 0.5, 0.5, 1);
}
.ldio-4wazwd3cwpc div:nth-child(1) {
  background: #e35839;
  transform: translate(74px, 40px) scale(1);
  animation: ldio-4wazwd3cwpc-r 0.5s infinite cubic-bezier(0, 0.5, 0.5, 1),
    ldio-4wazwd3cwpc-c 2s infinite step-start;
}
.ldio-4wazwd3cwpc div:nth-child(2) {
  animation-delay: -0.5s;
  background: #514134;
}
.ldio-4wazwd3cwpc div:nth-child(3) {
  animation-delay: -1s;
  background: #e35839;
}
.ldio-4wazwd3cwpc div:nth-child(4) {
  animation-delay: -1.5s;
  background: #d28d4f;
}
.ldio-4wazwd3cwpc div:nth-child(5) {
  animation-delay: -2s;
  background: #dbae1d;
}
.loadingio-spinner-ellipsis-drazzq3evg8 {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  display: block;
  overflow: hidden;
  background: none;
}
.ldio-4wazwd3cwpc {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.5);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-4wazwd3cwpc div {
  box-sizing: content-box;
}
